@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Azeret+Mono&family=Lexend+Deca&family=Monoton&family=Roboto+Mono&display=swap");

:root {
  --bg-color0: #2e3440;
  --bg-color1: #3b4252;
  --bg-color2: #434c5e;
  --bg-color3: #4c566a;
  --txt-color4: #d8dee9;
  --txt-color5: #e5e9f0;
  --txt-color6: #eceff4;
  --pr-accent-color7: #8fbcbb;
  --pr-accent-color8: #88c0d0;
  --pr-accent-color9: #81a1c1;
  --pr-accent-color10: #5e81ac;
  --sec-accent-color11: #bf616a;
  --sec-accent-color12: #d08770;
  --sec-accent-color13: #ebcb8b;
  --sec-accent-color14: #a3be8c;
  --sec-accent-color15: #b48ead;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg-color0);
  color: var(--txt-color6);
  margin: auto;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #282a36;
}
::-webkit-scrollbar-thumb {
  background: #383a59;
  border-radius: 5px;
}

.container {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.blue {
  color: var(--pr-accent-color7);
}

.red {
  color: var(--sec-accent-color11);
}

.green {
  color: var(--sec-accent-color14);
}

.yellow {
  color: var(--sec-accent-color13);
}

/* .purple {
  color: var(--pr-accent-color9);
} */

.orange {
  color: var(--sec-accent-color12);
}

li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1rem;
}

.header {
  background-color: var(--bg-color1);
  padding: 5px;
  /* --webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%); */
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  height: 50px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #383a59;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 25px;
}

.nav-link {
  font-size: 20px;
  font-weight: 400;
  color: #f8f8f2;
  transition: color 0.5s ease;
}

.nav-link:hover {
  /* color: #8be9fd; */
  border: #8be9fd;
}

.nav-logo {
  font-size: 30px;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
  color: var(--pr-accent-color8);
}

@media only screen and (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: var(--sec-accent-color11); /* Red */
  color: var(--txt-color6);
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-group {
  margin-right: 8px;
  display: block;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 10px;
  background: #282a36;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #8be9fd;
  display: block;
  outline: auto;
}

.sidenav a:hover {
  color: #f8f8f2;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
}

/* .main {
  margin-left: 140px;
  font-size: 28px;
  padding: 0px 10px;
} */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--bg-color1);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: var(--bg-color2);
  outline: none;
}

/* Set a style for all buttons */
/* button {
  background-color: #bd93f9;
  color: #f8f8f2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity: 1;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
}

/* Set a style for all buttons */
button {
  background-color: var(--pr-accent-color8);
  font-family: "Roboto Mono", monospace;
  color: var(--txt-color6);
  padding: 7px 25px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  float: left;
  transition: color 0.5s ease;
}

/* Add a hover effect for buttons */
button:hover {
  background-color: var(--pr-accent-color7);
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

footer {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  gap: 1rem;
  position: relative;
  text-align: center;
  line-height: 1rem;
  font-size: 0.95rem;
  padding: 0 5px;
}

footer a {
  color: var(--txt-color6);
  transition: color 0.5s ease;
  text-decoration: none;
}

footer a:hover {
  color: var(--pr-accent-color7);
  text-decoration: none;
}
